* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caveat", cursive;
    background-color: #95b7f8;
}

/* The score table */
.score {
    color: #112c51;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

/* The start page */

.start {
    color: #112c51;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.start h1 {
    font-size: 50px;
}

/* Styles for the buttons */

.start button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: #dfe1ea;
    font-size: 20px;
    background: #112c51;
    border-radius: 3px;
    cursor: pointer;
}

/* Styling for the compare hands*/
.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    color: #112c51;
    text-align: center;
    font-size: 50px;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20%;
    margin-top: 10%;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paper {
    margin-left: 15%;
    margin-right: 15%;
}

.player-hand {
    transform: rotateY(180deg);
}

/* Styles for fade in and fade out */
div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

/* The animation that makes the player hand move */
@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }

    15% {
        transform: rotateY(180deg) translateY(-50px);
    }

    25% {
        transform: rotateY(180deg) translateY(0px);
    }

    35% {
        transform: rotateY(180deg) translateY(-50px);
    }

    50% {
        transform: rotateY(180deg) translateY(0px);
    }

    65% {
        transform: rotateY(180deg) translateY(-50px);
    }

    75% {
        transform: rotateY(180deg) translateY(0px);
    }

    85% {
        transform: rotateY(180deg) translateY(-50px);
    }

    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}

/* The animation that makes the computer hand move */

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-50px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-50px);
    }

    75% {
        transform: translateY(0px);
    }

    85% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Media queries */

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

    body {
        margin-right: 10%;
    }

    .score {
        margin-bottom: 10%;
    }

    .hands {
        size: 50%;

    }

    .player-hand {
        margin-left: 15%;
    }

    .computer-hand {
        margin-right: 10%;

    }

    .winner {
        margin-top: 10%;
    }

    .options {
        size: 40vh;
        flex-direction: column;
        align-items: center;

    }

    .paper {
        margin-top: 5%;
        margin-bottom: 5%;

    }
}